ul{
    display: flex;
    position: absolute;
          overflow: hidden;
          width: 500px;
          height: 400px;
        //   li {
        //     width: 500px;
        //     height: 400px;
        //     //color: $text;
        //     display: flex;
        //     align-items: center;
        //     position: absolute;
           
        //     &:nth-child(1) {
        //       &:after {
        //         content: "";
        //         position: absolute;
        //         height: 12px;
        //         width: 310px;
        //         //background: $text;
               
        //         left: 0;
        //         top: 206px;
        //       }
        //     }
        //     &:nth-child(2) {
        //       &:after {
        //         content: "";
        //         position: absolute;
        //         height: 12px;
        //         width: 148px;
        //         //background: $text;
       
        //         left: 54px;
        //         top: 126px;
        //       }
        //     }
        //     &:nth-child(3) {
        //       &:after {
        //         content: "";
        //         position: absolute;
        //         height: 12px;
        //         width: 280px;
        //         //background: $text;
               
        //         left: 144px;
        //         top: 166px;
        //       }
        //     }
        // }
}
.t-image {
    width: 500px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.animation-container {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    .blur-letter {
        font-size: 28px;
        color: #fff;
        filter: blur(0px);
        display: inline-block;
        overflow: hidden;
    }
}

.box {
    width: 50px;
    height: 50px;
    background-color: #fff;
}

#main-img {
    width: 100%;
    height: 100vh;
    // background-image: url(./../../assets/images/image42.jpg);
    background-size: cover;
    z-index: -1;
    position: absolute;
    overflow: hidden;
}

#gallery {
    overflow: hidden;
    position: relative;
}

#main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    #main-gallery {
        width: 100%;
        max-width: 88%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        .blur-container {
            height: 600px;
            max-width: 1280px;
            margin: 0 auto;
            width: 100%;
            overflow: hidden;
            .gallery-container {
                background: rgba(0, 0, 0, 0.4);
                // backdrop-filter: blur(2px);
                overflow: hidden;
                height: 600px;
                max-width: 1280px;
                margin: 0 auto;
                width: 100%;
                z-index: 1;
                .title-container {
                    h4 {
                        font-weight: 100;
                        font-size: 34px;
                        line-height: 148.5%;
                        /* or 50px */
                        color: #FFFFFF;
                    }
                }
                .content-media {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    .image-container {
                        width: 100%;
                        margin: 0 auto;
                        max-width: 425px;
                        height: 300px;
                        overflow: hidden;
                        img {
                            
                            max-width: 500px;
                        }
                    }
                    .text-container {
                        font-size: 16px;
                        line-height: 148.5%;
                        width: 532px;
                        display: flex;
                        justify-content: flex-end;
                        p {
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 148.5%;
                            /* or 24px */
                            color: #FFFFFF;
                        }
                    }
                }
            }
        }
    }
}

ul {
    text-decoration: none;
    list-style: none;
    li {
        list-style: none;
    }
}