.image-wrapper {
    width: 100%;
    position: absolute;
    height: 100%;
    transition-delay: -6s;
    // top: -10%;
    img {
        width: 100%;
    }
}

.images-layers {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    z-index: 6;
    svg {
        height: 300px;
        width: 400px;
    }
}

header {
    overflow: hidden;
}