.c-quotation {
    width: 100%;
    max-width: 966px;
    margin: 0 auto;
    p {
        font-family: "Rosarivo";
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 2px;
        color: #FFCB8E;
    }
}